<a href="https://colab.research.google.com/github/2303A51526/sai/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# List of numbers
numbers = [1, 2, 3, 4]

# List of strings
names = ["Alice", "Bob", "Charlie"]

# Nested list (representing a matrix)
matrix = [[1, 2], [3, 4]]

In [16]:
import numpy as np

# 1D array from a list
arr1 = np.array(numbers)

# 2D array from a nested list
arr2 = np.array(matrix)

In [17]:
import pandas as pd

# Series from a list
series1 = pd.Series(numbers)

# Series from a list with custom index
series2 = pd.Series(names, index=['a', 'b', 'c'])

In [18]:
data = {'Name': names, 'Age': [25, 30, 28]}
df = pd.DataFrame(data)